definitions:
  dtos.LoginRequest:
    properties:
      password:
        example: secret123
        type: string
      username:
        example: qaseh_dev
        type: string
    required:
    - password
    - username
    type: object
  dtos.SignUpRequest:
    properties:
      email:
        example: qaseh@example.com
        type: string
      password:
        example: secret123
        minLength: 6
        type: string
      username:
        example: qaseh_dev
        type: string
    required:
    - email
    - password
    - username
    type: object
  models.Todo:
    type: object
info:
  contact: {}
  title: Pro Todo API
  version: "1.0"
paths:
  /auth/login:
    post:
      consumes:
      - application/json
      parameters:
      - description: Credentials
        in: body
        name: user
        required: true
        schema:
          $ref: '#/definitions/dtos.LoginRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties:
              type: string
            type: object
      summary: User Login
      tags:
      - Auth
  /auth/signup:
    post:
      consumes:
      - application/json
      parameters:
      - description: User Data
        in: body
        name: user
        required: true
        schema:
          $ref: '#/definitions/dtos.SignUpRequest'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            additionalProperties:
              type: string
            type: object
      summary: User Registration
      tags:
      - Auth
  /todos:
    get:
      description: Get all tasks for the authenticated user
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/models.Todo'
            type: array
      security:
      - BearerAuth: []
      summary: List user todos
      tags:
      - Todos
    post:
      consumes:
      - application/json
      description: |-
        Add a new todo item to the authenticated user's list.
        Note: status can be 'pending', 'in-progress', or 'completed'.
      parameters:
      - description: 'Todo Data (Example: {''title'': ''Task Name'', ''description'':
          ''Details''})'
        in: body
        name: todo
        required: true
        schema:
          $ref: '#/definitions/models.Todo'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            $ref: '#/definitions/models.Todo'
      security:
      - BearerAuth: []
      summary: Create a new task
      tags:
      - Todos
  /todos/{id}:
    delete:
      description: Remove a task by ID
      parameters:
      - description: Todo ID
        in: path
        name: id
        required: true
        type: integer
      responses:
        "204":
          description: No Content
      security:
      - BearerAuth: []
      summary: Delete a todo
      tags:
      - Todos
    put:
      consumes:
      - application/json
      description: Update title, description or status of a specific todo
      parameters:
      - description: Todo ID
        in: path
        name: id
        required: true
        type: integer
      - description: Updated Data
        in: body
        name: todo
        required: true
        schema:
          $ref: '#/definitions/models.Todo'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties:
              type: string
            type: object
      security:
      - BearerAuth: []
      summary: Update a todo
      tags:
      - Todos
securityDefinitions:
  BearerAuth:
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
